.similar{
    margin-top: 8rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.similar__container{
    margin-bottom: 2rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}
.similar__title{
    text-align: center;
    font-size: 2rem;
    font-family: var(--secondFont);
}
