.cart{
    min-height: 80vh;
}
.container2{
    max-width: 70rem;
    margin: 0 auto;
    width: 90%;
}
.cart__card{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 8rem;
}
.hr{
    margin-top: 5rem;
    border: 2px solid var(--bgLoginRegister);
}

.cart__footer{
    display: flex;
    justify-content: end;
    gap: 1rem;
}
@media ( min-width: 768px ) { 
    .cart__footer{
        gap: 5rem;
    }
}
.purchase__section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}
.btnCheckout{
    font-family: var(--secondFont);
    font-size: 1.5rem;
    padding: 1rem 1rem;
    background-color: var(--bgLoginRegister);
    color: var(--containerLR);
    border: none;
    border-radius: 1rem;
    transition: background-color 300ms ease-in-out;
    display: flex;
    gap: 2rem;
    align-items: center;
}
@media ( min-width: 768px ) { 
    .btnCheckout{
        font-size: 2rem;
    }
}
.btnCheckout:hover{
    background-color: var(--darkenBlue);
}
.creditCard{
    font-size: 2.5rem;
}
@media ( min-width: 768px ) { 
    .creditCard{
        font-size: 3rem;
    }
}
.cart__title{
    margin-top: 2rem;
}
@media ( min-width: 768px ) { 
    .cart__title{
        font-size: 4.5rem;
    }
}
